/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/06/2020 06:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./../font/Flaticon.eot");
  src: url("./../font/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./../font/Flaticon.woff2") format("woff2"),
    url("./../font/Flaticon.woff") format("woff"),
    url("./../font/Flaticon.ttf") format("truetype"),
    url("./../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./../font/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-null:before {
  content: "\f100";
}

.flaticon-null-1:before {
  content: "\f101";
}

.flaticon-null-2:before {
  content: "\f102";
}

.flaticon-null-3:before {
  content: "\f103";
}

.flaticon-null-4:before {
  content: "\f104";
}

.flaticon-null-8:before {
  content: "\f105";
}

.flaticon-null-5:before {
  content: "\f106";
}

.flaticon-null-6:before {
  content: "\f107";
}

.flaticon-null-7:before {
  content: "\f108";
}

.flaticon-null-9:before {
  content: "\f109";
}

.flaticon-null-10:before {
  content: "\f10a";
}

.flaticon-null-11:before {
  content: "\f10b";
}

.flaticon-null-12:before {
  content: "\f10c";
}

.flaticon-null-13:before {
  content: "\f10d";
}

.flaticon-null-14:before {
  content: "\f10e";
}

.flaticon-null-15:before {
  content: "\f10f";
}

.flaticon-null-16:before {
  content: "\f110";
}

.flaticon-null-17:before {
  content: "\f111";
}

.flaticon-null-18:before {
  content: "\f112";
}

.flaticon-null-19:before {
  content: "\f113";
}

.flaticon-null-20:before {
  content: "\f114";
}

.flaticon-null-21:before {
  content: "\f115";
}

.flaticon-null-22:before {
  content: "\f116";
}

.flaticon-null-23:before {
  content: "\f117";
}

.flaticon-null-24:before {
  content: "\f118";
}

.flaticon-null-25:before {
  content: "\f119";
}

.flaticon-settings:before {
  content: "\f11a";
}
