html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

a:hover {
  text-decoration: none;
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #013551;
  padding: 15px;
  position: relative;
}

button {
  border: none;
}

a,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  transition: 0.3s all;
  text-decoration: none;
}

:focus {
  outline-width: 0px;
}

img {
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@500&display=swap");
/* font-family: 'Roboto',sans-serif; */

@keyframes image-animation-up {
  0% {
    clip-path: circle(0% at 50% 0%);
    -webkit-clip-path: circle(0% at 50% 0%);
  }
  100% {
    clip-path: circle(200% at 50% 0%);
    -webkit-clip-path: circle(200% at 50% 0%);
  }
}

@keyframes image-animation-down {
  0% {
    clip-path: circle(0% at 50% 100%);
    -webkit-clip-path: circle(0% at 50% 100%);
  }
  100% {
    clip-path: circle(200% at 50% 100%);
    -webkit-clip-path: circle(200% at 50% 100%);
  }
}
/* main style start here */
/* side bar style here */

.side-bar-area {
  min-height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 999;
  background-color: #013551;
}

.side-bar-logo {
  padding: 38px 20px 0px 20px;
  display: block;
}

.side-bar-menu {
  padding-top: 100px;
}

.side-bar-logo img {
  max-width: 150px;
}

.side-bar-menu ul li a {
  padding: 10px 13px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #ffffff;
  transition: 0.3s ease;
}

.side-bar-menu ul li a i {
  padding-right: 18px;
}

.side-bar-menu ul li a span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.side-bar-menu ul li a:after {
  position: absolute;
  content: "";
  top: 54%;
  left: 86%;
  height: 250%;
  width: 133px;
  background-image: url(../img/after.png);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: left;
  z-index: -1;
  clip-path: circle(0% at 100% 50%);
  -webkit-clip-path: circle(0% at 100% 50%);
  transition: 0.3s ease;
}

.side-bar-menu ul li a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: -1;
  clip-path: circle(0% at 100% 50%);
  -webkit-clip-path: circle(0% at 100% 50%);
  transition: 0.3s ease;
  border-radius: 28px 0px 0px 28px;
}

.side-bar-menu ul li a:hover {
  color: #f17720;
  transition-delay: 0.7s;
}

.side-bar-menu ul li a:hover:after {
  clip-path: circle(200% at 100% 50%);
  -webkit-clip-path: circle(200% at 100% 50%);
  transition: 2s ease;
}

.side-bar-menu ul li a:hover:before {
  clip-path: circle(200% at 100% 50%);
  -webkit-clip-path: circle(200% at 100% 50%);
  transition: 1s ease;
  transition-delay: 0.4s;
}

.side-bar-supprt {
  padding-top: 60px;
}

.side-bar-supprt-img {
  display: flex;
  justify-content: center;
}

.side-bar-supprt-content {
  text-align: center;
}

.side-bar-supprt-content h3 {
  padding-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.side-bar-supprt-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  padding-bottom: 5px;
}

.beta-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s ease;
}

.beta-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.beta-btn.btn-orange {
  background-color: #f17720;
}

.beta-btn.btn-orange:after {
  border-color: #f17720;
  border-width: 1px;
  border-style: dashed;
  background-color: #ffffff;
  border-radius: 5px;
  clip-path: circle(0% at 100% 100%);
  -webkit-clip-path: circle(0% at 100% 100%);
  transition: 1s ease;
}

.beta-btn.btn-orange:hover:after {
  clip-path: circle(200% at 100% 100%);
  -webkit-clip-path: circle(200% at 100% 100%);
}

.beta-btn.btn-orange:hover {
  color: #f17720;
}
/* heder style here */

.header-area {
  padding-left: 30px;
  background-color: #fdfaf4;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 28px 28px 0px 0px;
  margin-left: 220px;
  position: fixed;
  top: 15px;
  right: 15px;
  width: calc(100% - 250px);
  z-index: 999;
  min-height: 100px;
}

.search-box form {
  background-color: rgba(241, 119, 32, 0.2);
  border-radius: 10px;
  min-width: 380px;
  position: relative;
  z-index: 1;
  padding: 0px 24px;
}

.search-box form:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px dashed #f17720;
  z-index: -1;
  clip-path: circle(0% at 50% 0%);
  -webkit-clip-path: circle(0% at 50% 0%);
  transition: 1s ease;
}

.search-box form.active:after {
  clip-path: circle(200% at 50% 0%);
  -webkit-clip-path: circle(200% at 50% 0%);
  transition: 1.5s ease;
}

.search-box form i {
  margin-right: 20px;
  color: #f17720;
  cursor: pointer;
}

.search-box form .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #f17720;
  padding: 17px 0px;
}

.search-box form .form-control::placeholder {
  color: #f17720;
}

.search-box form .form-control {
  box-shadow: none;
}

.cradet-point {
  padding-right: 45px;
}

.cradet-point i {
  color: #f17720;
}

.cradet-point i:before {
  font-size: 30px;
}

.cradet-point h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #f17720;
  padding-left: 20px;
}

.credit button {
  padding: 10px 30px;
  font-size: 18px;
}

.profile-area {
  min-width: 290px;
  position: relative;
  padding: 25px 30px 25px 30px;
}

.profile {
  justify-content: space-between;
  cursor: pointer;
}

.profile-name img {
  height: 47px;
  width: 47px;
  border-radius: 9px;
  margin-right: 15px;
}

.profile-name span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #f17720;
  display: inline-block;
}

.profile-icon {
  position: relative;
}

.profile-icon i {
  color: #f17720;
}

.profile-icon i:before {
  font-size: 25px;
}

.profile-show {
  clip-path: circle(200% at 100% 50%);
  -webkit-clip-path: circle(200% at 100% 50%);
  transition: 1s ease;
  display: inline-block;
}

.profile-icon.active .profile-show {
  clip-path: circle(0% at 100% 50%);
  -webkit-clip-path: circle(0% at 100% 50%);
  transition: 0.1s ease;
}

.profile-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0% 50%);
  -webkit-clip-path: circle(0% at 0% 50%);
  display: inline-block;
}

.profile-icon.active .profile-hidden {
  clip-path: circle(200% at 0% 50%);
  -webkit-clip-path: circle(200% at 0% 50%);
  transition: 1s ease;
}

.profile-dropdawn {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fcf7ef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
  z-index: -1;
  /* clip-path: circle(0% at 50% 0%);
  -webkit-clip-path: circle(0% at 50% 0%); */
  /* transition: 0.8s ease; */
}

.profile-dropdawn.active {
  clip-path: circle(200% at 50% 0%);
  -webkit-clip-path: circle(200% at 50% 0%);
  transition: 1.5s ease;
}

.profile-dropdawn ul {
  padding: 35px 15px;
  -webkit-box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-dropdawn ul li a {
  padding: 19px 20px 17px 20px;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  display: block;
}

.profile-dropdawn ul li a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #f17720;
  clip-path: circle(0% at 0% 0%);
  -webkit-clip-path: circle(0% at 0% 0%);
  transition: 0.8s ease;
  border-radius: 5px;
}

.profile-dropdawn ul li a:hover:after {
  clip-path: circle(200% at 0% 0%);
  -webkit-clip-path: circle(200% at 0% 0%);
  transition: 1.5s ease;
}

.profile-dropdawn ul li a span {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #f17720;
  margin-right: 10px;
  transition: s ease;
}

.profile-dropdawn ul li a:hover span {
  border-color: #ffffff;
}

.profile-dropdawn ul li a:hover span i {
  color: #ffffff;
  transition: 1s ease;
}

.profile-dropdawn ul li a span i {
  color: #f17720;
}

.profile-dropdawn ul li a span i:before {
  font-size: 15px;
}

.profile-link-drop {
  border: none !important;
  transition: 1s ease;
}

.profile-link-drop i {
  color: #000000 !important;
}

.profile-dropdawn ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #013551 !important;
  transition: 0.5s ease;
}

.profile-dropdawn ul li a:hover {
  color: #ffffff !important;
}

.profile-dropdawn ul li a:hover .profile-link-drop i {
  color: #ffffff !important;
}

.profile-dropdawn ul li a .profile-link-drop {
  margin-left: 12px;
}

.profile-dropdawn ul li:last-child {
  border-top: 1px solid #aeaeae;
  margin-top: 3px;
}

.profile-dropdawn ul li:last-child a {
  margin-top: 3px;
}
/* main container area start here */

.content-area {
  margin-left: 220px;
  min-height: calc(100vh - 130px);
  background-color: #ffffff;
  border-radius: 0px 0px 28px 28px;
  position: relative;
  width: calc(100% - 220px);
  margin-top: 100px;
}

.main-content-area {
  margin: 100px 60px;
  background-color: #fdfaf4;
  box-shadow: 2px 2px 6px rgba(107, 107, 107, 0.15);
  border-radius: 10px;
}
/* interview content start here */

.take-interview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.take-interview-heading h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
  color: #f17720;
  padding-bottom: 25px;
}

.take-interview-list ul li {
  background: #f17720;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(107, 107, 107, 0.15);
  margin-bottom: 20px;
  min-width: 290px;
}

.take-interview-list ul li:last-child {
  margin-bottom: 0px;
}

.take-interview-list ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 8px 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.take-interview-list ul li a span {
  padding: 0px 15px 0px 11px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  position: relative;
  z-index: 1;
}

.take-interview-list ul li a span:after {
  position: absolute;
  content: "";
  right: 0;
  height: 230%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f98d40;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 0px 5px 5px 0px;
}

.take-interview-img {
  display: flex;
  justify-content: center;
  padding: 15px;
  animation: image-animation-up 4s linear 1;
}

.responsive-logo {
  display: none;
}
/* toggole menu style here */

.menu-toggole {
  position: relative;
  cursor: pointer;
  display: none;
}

.comon-tab svg {
  height: 20px;
  width: 20px;
}

.menu-show svg,
.menu-close svg {
  fill: #f17720;
}

.menu-close {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-show {
  clip-path: circle(200% at 100% 50%);
  -webkit-clip-path: circle(200% at 100% 50%);
  transition: 1s ease-in-out;
}

.menu-show.active {
  clip-path: circle(0% at 100% 50%);
  -webkit-clip-path: circle(0% at 100% 50%);
  transition: 0.1s ease-in-out;
}

.menu-close svg {
  height: 15px;
}

.menu-close {
  clip-path: circle(0% at 0% 50%);
  -webkit-clip-path: circle(0% at 0% 50%);
  opacity: 0;
}

.menu-close.active {
  clip-path: circle(200% at 0% 50%);
  -webkit-clip-path: circle(200% at 0% 50%);
  transition: 1s ease-in-out;
  opacity: 1;
  transition: 1s ease-in;
}

.sidebar-scrolling {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
}
/* media for 1199px*/

@media screen and (max-width: 1350px) {
  /* .sidebar-scrolling {
            max-height: calc(100vh - 100px);
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: 70px;
            padding-bottom: 50px;
        } */
  .side-bar-logo {
    padding: 38px 20px 0px 20px;
    height: 100px;
  }
  .header-area {
    min-height: 85px;
  }
  .content-area {
    margin-top: 85px;
    min-height: calc(100vh - 115px);
  }
  .search-box form {
    min-width: 280px;
  }
  .profile-area {
    min-width: 220px;
    padding: 25px 20px 25px 15px;
  }
  .profile-name img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }
  .profile-name span {
    font-size: 17px;
  }
  .profile-icon i:before {
    font-size: 18px;
  }
  .cradet-point h4 {
    font-size: 17px;
    padding-left: 10px;
  }
  .credit button {
    font-size: 16px;
  }
  .cradet-point {
    padding-right: 30px;
  }
  .profile-dropdawn {
    position: absolute;
    width: 280px;
    left: unset;
    right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .profile-name span {
    display: none;
  }
  .profile-icon {
    display: none;
  }
  .profile-name img {
    margin-right: 0px;
  }
  .profile-area {
    min-width: 75px;
  }
  .credit {
    width: 100%;
    justify-content: flex-end;
  }
}
/* media for 991px*/

@media screen and (max-width: 991px) {
  .cradet-point {
    display: none !important;
  }
  .credit button {
    font-size: 13px;
    padding: 7px 15px;
  }
  .search-box form .form-control {
    padding: 10px 0px;
  }
  .search-box form {
    width: 200px;
    border-radius: 5px;
  }
  .main-content-area {
    margin: 100px 0px;
  }
  .take-interview-img {
    padding: 25px 15px 25px 0px;
  }
  .menu-toggole {
    display: block;
    padding-right: 25px;
    margin-top: 10px;
  }
  .content-area {
    margin-left: 0px;
    width: 100%;
  }
  .header-area {
    padding-left: 30px;
    width: calc(100% - 30px);
  }
  .responsive-logo {
    display: block;
    min-width: 150px;
  }
  .credit {
    min-width: 100px;
  }
  .search-box {
    margin-left: 35px;
  }
  .side-bar-area {
    -webkit-clip-path: polygon(0 0, 0 50%, 0 50%, 0% 100%);
    clip-path: polygon(0 0, 0 50%, 0 50%, 0% 100%);
    z-index: 9999;
    left: 0px;
  }
  .side-bar-area.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1.5s ease;
  }
  body.active {
    position: relative;
    overflow: hidden;
  }
  body.active:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 9;
  }
  .profile-area {
    position: unset;
  }
  .profile-dropdawn {
    right: 15px;
  }
}
/* media for 767px*/

@media screen and (max-width: 767px) {
  .search-box form {
    width: 180px;
    border-radius: 5px;
    min-width: unset;
  }
  .search-box {
    margin-left: 15px;
  }
  .responsive-logo {
    min-width: 120px;
  }
  .header-area {
    padding-left: 20px;
  }
  .responsive-logo {
    min-width: 120px;
  }
  .credit {
    max-width: 100px;
  }
  .search-box {
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .search-box form {
    width: 40px;
    padding: 0px;
    height: 35px;
    position: unset;
    border-radius: 2px;
  }
  .search-box form i {
    margin-right: 0px;
  }
  .search-box form i:before {
    font-size: 16px;
  }
  .search-box form .form-control {
    position: absolute;
    width: 250px;
    top: 100%;
    right: 15px;
    background-color: #fdfaf4;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border: 1px dashed #f17720;
    border-color: transparent;
    clip-path: circle(0% at 50% 0%);
    -webkit-clip-path: circle(0% at 50% 0%);
  }
  .search-box form .form-control.active {
    clip-path: circle(200% at 50% 0%);
    -webkit-clip-path: circle(200% at 50% 0%);
    transition: 1.5s ease;
  }
  .search-box form .form-control:focus {
    background-color: #ffffff;
    border-color: #f17720;
    transform: 0.5s ease;
  }
  .search-box form:after {
    opacity: 0;
  }
  .main-content-area {
    padding: 25px 0px;
  }
  .take-interview-content {
    margin-bottom: 50px;
  }
  .profile-dropdawn ul {
    padding: 20px 15px;
  }
  .profile-dropdawn ul li a {
    padding: 15px 20px;
    font-size: 13px;
  }
  .profile-dropdawn ul li a span {
    height: 20px;
    width: 20px;
    border-radius: 3px;
  }
  .profile-dropdawn ul li a span i:before {
    font-size: 10px;
  }
  .profile-dropdawn {
    width: 235px;
  }
  .profile-dropdawn ul li a .profile-link-drop {
    margin-left: 5px;
    margin-right: 0px;
  }
  .search-box form .form-control {
    font-size: 13px;
  }
  .side-bar-menu ul li a span {
    font-size: 13px;
    line-height: 1.5;
  }
  .side-bar-menu ul li a i {
    padding-right: 10px;
  }
  .side-bar-menu ul li a i:before {
    font-size: 15px;
  }
  .sidebar-scrolling {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .side-bar-supprt {
    padding-top: 30px;
  }
  .side-bar-supprt-content h3 {
    font-size: 15px;
  }
  .side-bar-supprt-content p {
    font-size: 12px;
  }
  .beta-btn {
    font-size: 13px;
  }
}
/* media for 575px*/

@media screen and (max-width: 575px) {
  .side-bar-area {
    width: 170px;
  }
  .side-bar-supprt-img {
    padding: 0px 20px;
  }
  .side-bar-logo img {
    max-width: 120px;
  }
}
/* media for 450px*/

@media screen and (max-width: 450px) {
}
/* media for 380px*/

@media screen and (max-width: 380px) {
}
